<app-cabecera titulo="Página 3"></app-cabecera>

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="dam1">
            <ion-icon name="hardware-chip-outline"></ion-icon>
            <ion-label>1º DAM</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="dam2">
            <ion-icon name="logo-microsoft"></ion-icon>
            <ion-label>2º DAM</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="fct">
            <ion-icon name="logo-snapchat"></ion-icon>
            <ion-label>FCT</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
</ion-content>
