<app-cabecera titulo="Página 2"></app-cabecera>

<ion-content>
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input  type="text" [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Apellidos</ion-label>
    <ion-input  type="text" [(ngModel)]="apellidos"></ion-input>
  </ion-item>
  <ion-item>

    <ion-label>DNI</ion-label>
    <ion-input  type="text" [(ngModel)]="dni"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Localidad</ion-label>
    <ion-input type="text" [(ngModel)]="localidad"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Contraseña</ion-label>
    <ion-input type="password" minlength="8" [(ngModel)]="contrasena"></ion-input>
  </ion-item>
  <ion-button fill="solid" (click)="submit()">Enviar</ion-button>

</ion-content>
