<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="text-align:center">
  <ion-button routerLink="/pagina2" expand="block" color="danger">
    <ion-icon name="accessibility-outline" slot="start"></ion-icon>
    Datos personales
  </ion-button>
  <ion-button routerLink="/pagina3" expand="block" color="success">
    <ion-icon name="file-tray-full-outline" slot="start"></ion-icon>
    Tabs
  </ion-button>
</ion-list>
</ion-content>
