<ion-header>
    <ion-toolbar>
      <ion-title>FCT</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-content fullscreen>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Item 1</ion-card-title>
      </ion-card-header>
      <ion-item >
        <ion-icon name="wifi" slot="start"></ion-icon>
        <ion-card-content>Identificación de la estructura y organización empresarial.</ion-card-content>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Item 2</ion-card-title>
      </ion-card-header>
      <ion-item >
        <ion-icon name="calculator-outline" slot="start"></ion-icon>
        <ion-card-content>Aplicación de hábitos éticos y laborales.</ion-card-content>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Item 3</ion-card-title>
      </ion-card-header>
      <ion-item >
        <ion-icon name="checkbox-outline" slot="start"></ion-icon>
        <ion-card-content>Organización de trabajos.</ion-card-content>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Item 4</ion-card-title>
      </ion-card-header>
      <ion-item >
        <ion-icon name="cellular-outline" slot="start"></ion-icon>
        <ion-card-content>Gestión de equipos y sistemas informáticos.</ion-card-content>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Item 5</ion-card-title>
      </ion-card-header>
      <ion-item >
        <ion-icon name="albums-outline" slot="start"></ion-icon>
        <ion-card-content>Diseño y manejo de bases de datos.</ion-card-content>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Item 6</ion-card-title>
      </ion-card-header>
      <ion-item >
        <ion-icon name="analytics-outline" slot="start"></ion-icon>
        <ion-card-content>Desarrollo y despliegue de juegos.</ion-card-content>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Item 7</ion-card-title>
      </ion-card-header>
      <ion-item >
        <ion-icon name="at-circle-outline" slot="start"></ion-icon>
        <ion-card-content>Desarrollo y pruebas de interfaz de aplicaciones multiplatafoma.</ion-card-content>
      </ion-item>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Item 8</ion-card-title>
      </ion-card-header>
      <ion-item >
        <ion-icon name="apps-outline" slot="start"></ion-icon>
        <ion-card-content>Implantación de sistemas de gestión de recursos empresariales.</ion-card-content>
      </ion-item>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button href="https://www.linkedin.com/in/alvaro-peco-garcia-3b2620156/"><ion-icon name="logo-linkedin"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="end">
        <ion-fab-button href="https://efa-centro.org/efa-moratalaz/"><ion-icon name="at-outline"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start">
        <ion-fab-button href="https://www.instagram.com/arroyito92/?hl=es"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-content>
</ion-content>
