<ion-header>
  <ion-toolbar>
    <ion-title>{{ titulo }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="back-button" defaultHref="Inicio"></ion-back-button>
    </ion-buttons> 
    <ion-buttons slot="secondary">
      <ion-button class="icon-button">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button class="icon-button">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
